body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.tooltipermission {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
}

.tooltipermission .tooltipermissiontext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltipermission .tooltipermissiontext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltipermission:hover .tooltipermissiontext {
    visibility: visible;
}

.scrollable{
    /* overflow: auto; */
    overflow-y: scroll;
    overflow-x: auto;
    height: 300px;
    width: auto;
    display: block!important;
}

.scrollable-table {
    /* overflow: auto; */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    display: block !important;
    //overflow: hidden;
}

VT {
   color: yellow;
}