@using Microsoft.AspNet.Identity
@model VTIntranet.Models.NewModelHelper
@{
    ViewBag.Title = "Galeria VTIntranet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<style type="text/css">
  .cont-img img {
    width: 100%;
}
    .cont-img {
        padding: 0;
    }

    .content-album {
        border: 1.5px solid blue;
        width: 80%;
        text-align: center;
        margin-left: 1%;
    }

    .cont-img:hover {
    box-shadow: 0 0 20px 4px #000;
}

</style>

<div class="">
    <h2>@ViewBag.Title</h2>
    <hr />

    <div style="display: grid;grid-template-columns: 1fr 1fr 1fr 1fr">

        @foreach (var evt in ViewBag.events)
        {
            <div style="max-width: 95%; margin-bottom:15px; margin:0 auto">
                <div class="cont-img" style="display:grid; width: 100%; grid-template-columns: auto auto;">
                    <span class="album" style="display:none;">@evt.IdEvent</span>
                </div>
                <div class="card-body" style="width:100%; margin-left:2%">
                    <h5 class="card-title"><strong>@evt.Title</strong></h5>
                    <p class="card-text">@evt.Description</p>
                    <a href="#" class="btn btn-primary">Ver galeria</a>
                </div>
            </div>
        }
    </div>

    

    <script>

        $(document).ready(function () {

            let albums = $(".album");
            //console.log(albums.length);

            for (var i = 0; i < albums.length; i++) {
                //console.log($(albums[i]).text());
                let idAlbum = $(albums[i]).text();
                getPortrait(idAlbum);
            }

        });



        function getPortrait(idAlbum) {
            console.log("entra a generar portrait de album: " + idAlbum);

            $.ajax({
                url: 'getPortrait/?idAlbum=' + idAlbum,
                dataType: 'json',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                async: true,
                processData: false,
                cache: false,
                success: function (data) {

                    let portrait = document.querySelector('.cont-img');
                    console.log(data);
                    for (let i = 0; i < data.length; i++) {
                        let src = "/UploadedFiles/";
                        src += data[i].FileName;
                        console.log(data[i].FileName);
                        let img = document.createElement('img');
                        img.setAttribute("class", "img-album");
                        img.src = src;
                        portrait.append(img);
                    }



                },
                error: function (e) {
                    //console.log(e);
                }
            });
        }
    </script>






</div>


