<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>

<style>

    #attachment {
        margin: 0px auto;
        border: 1px solid green;
        margin-top: 5%;
        height: 300px;
        width: 80%;
        display: flex;
    }

    #brand-logo,
    #brand-text {
        border: 1px solid green;
    }

    #brand-logo {
        width: 30%;
        height: 300px;
        margin: 0px;
        padding: 0px;
    }

    #brand-text {
        width: 70%;
        height: 300px;
    }

    #brand-deptos {
        border: 1px solid orange;
        height: 150px;
        width: 80%;
        margin: 0px auto;
        display: flex;
    }

    .area {
       
    }

    #contentFile {
        margin: 0px auto;
        width: 80%;
        border: 1px solid red;
    }
</style>


<div id="attachment">
    <div id="brand-logo">
        LOGO
    </div>
    <div id="brand-text">
        TEXT
    </div>
</div>
<div id="brand-deptos"></div>
<div id="contentFile">
    <table id="attachments">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Empresa</th>
            <th>Ver</th>
            <th>Editar</th>
        </tr>
        
    </table>
</div>

<script>

    let tmp = "@ViewBag.D";
    let deptos = JSON.parse(tmp.replace(/&quot;/g, '"'));
    let tagClabe = '';
    
    showArea(deptos);
    tagClabe = getUrlParam();

    getFilesAttch(tagClabe);

    function getFilesAttch(tagClabe) {
        //console.log('Entra a getFiles');
        //console.log(tagClabe);

        $.ajax({
            url: '/Home/GetFilesAttach/',
            data: { tagClabe: tagClabe },
            dataType: 'json',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            asyn: 'true',
            processData: 'false',
            cache: 'false',
            success: function (data) {

                let json = JSON.parse(data);
                console.log(json);
                let table = document.querySelector('#attachments');

                for (let i = 0; i < json.length; i++) {

                    let tr = document.createElement('TR');

                    let td_id = document.createElement('TD');
                    let td_file = document.createElement('TD');
                    let td_tag = document.createElement('TD');
                    let td_show = document.createElement('TD');
                    let td_edit = document.createElement('TD');
                    let a_show = document.createElement('a');
                    let a_edit = document.createElement('a');

                    a_show.innerHTML = 'Ver Documento';
                    a_show.setAttribute('href', '/Home/AttachmentView/?idAttachment=' + json[i]['IdAttachment']);
                    a_edit.innerHTML = 'Editar Documento';
                    a_edit.setAttribute('href', '/Home/AttachmentEdit/?idAttachment=' + json[i]['IdAttachment']);

                    td_id.innerHTML = json[i]['IdAttachment'];
                    td_file.innerHTML = json[i]['AttachmentName'];
                    td_tag.innerHTML = json[i]['TagName'];
                    td_show.appendChild(a_show);
                    td_edit.appendChild(a_edit);
                    
                    tr.append(td_id);
                    tr.append(td_file);
                    tr.append(td_tag);
                    tr.append(td_show);
                    tr.append(td_edit);

                    table.append(tr);

                }
            },
            error: function (e) {

            }
        });
    }

    function getUrlParam() {

        let url_string = window.location.href;
        let url = new URL(url_string);
        let tagClabe = url.searchParams.get('tag');
        //console.log(tagClabe);

        return tagClabe;
    }

    function showArea(deptos){
        for (let i = 0; i < deptos.length; i++) {

            let brandDeptos = document.querySelector('#brand-deptos');
            let deptoName = deptos[i].DeptoName;
            let div = document.createElement('DIV');
            div.setAttribute('class', 'area');
            div.append(deptoName);
            //console.log(div.innerHTML);
            brandDeptos.appendChild(div);
        }
    }

    
</script>
