<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>


<style>

    .attachment {
        margin: 0px auto;
        margin-top: 5%;
        height: 300px;
        width: 95%;
        display: flex;
        max-height: 300px;
        overflow-y: scroll;
    }

    #brand-logo {
        min-width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    background:#ececec;
     display:flex
    }

    #brand-text {
       width: -webkit-fill-available;
       background:#f0f0f0;
       align-items:center;
       flex-direction:column;
       justify-content:center;
       display:flex

    }

    #brand-deptos {
        width: 95%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;

    }

    .area {
          background: #122143;
    padding: 15px 0;
    margin: 30px auto;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
        width: 15%;
        text-align:center
    }

    #contentFile {
        margin: 0px auto;
        width: 95%;
    }
    table {
        background-color: transparent;
        table-layout: auto;
        width: 100%;
        text-align: center;
    }
    tbody {
        background: #d7d7d7;
    }

    td, th {border: 5px solid #d7d7d7;padding: 5px;}

    th{color:#686868;    text-align: center;}

    td{font-weight:600}

    .inc, .ad, .gs, .inh, .vtech, .vt, .wp{display:none}

    #IN-C .inc, #AD .ad, #GS .gs, #IN-H .inh, #VTECH .vtech, #VT .vt, #WP .wp{display:block}






    .cd-popup {
        opacity: 0;
        visibility: hidden;
    }

        .cd-popup.is-visible {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s 0s, visibility 0s 0s;
            position: absolute;
            background: #77777785;
            width: 100%;
            left: 0;
            height: 100%;
            top: 0;
            z-index:9999;
            position:fixed
        }
        a.cd-popup-close.img-replace {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size:15px
}
        .del{transition:border 5s}
        ul.cd-buttons .del:hover
        {
            border: 1px solid #ddd;
            padding: 15px;

        }
    .cd-popup-container {
        transform: translateY(-40px);
        transition-property: transform;
        transition-duration: 0.3s;
    }
        .cd-popup-container li {
            list-style: none;
        }
    .cd-buttons {
            padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 20px;
    }
    .is-visible .cd-popup-container {
        width: 30%;
        transform: translateY(0);
        margin: 0 auto;
        position: relative;
        top: 25%;
        background: #f8f7f9;
        text-align: center;
        padding: 70px;
        font-size:25px
    }
    #attachments td i {
    color: #21356a !important;
    font-size: 19px;
}
</style>


<div class="attachment">

    <div id="brand-logo">

        <img class="ad" src="~/UploadedFiles/Logos/Axkan.png" />
        <img class="gs" src="~/UploadedFiles/Logos/Grand_Slam.png" />
        <img class="inc" src="~/UploadedFiles/Logos/INMENSE_Club.png" />
        <img class="inh" src="~/UploadedFiles/Logos/INMENSE_Hotels.png" />
        <img class="vtech" src="~/UploadedFiles/Logos/VTechnology.png" />
        <img class="vt" src="~/UploadedFiles/Logos/VTime.png" />
        <img class="wp" src="~/UploadedFiles/Logos/Worldpass.png" />
    </div>
    <div id="brand-text">
        <p class="inc">
            
        </p>
        <p class="ad">
            AXKAN es una Fundación SIN FINES DE LUCRO cuya finalidad es crear <br />
            oportunidades de desarrollo para las comunidades, especialmente para <br />
            niños y jóvenes. AXKAN, como Fundación Privada, no tiene vínculos con <br />
            instituciones de Gobierno ni con partidos políticos y depende de las <br />
            donaciones de Fundadores, Voluntarios y Empresas.<br />
            La finalidad de la fundación es crear oportunidades de desarrollo para<br />
            las comunidades, especialmente para niños y jóvenes. Cada actividad es <br />
            importante, hombres y mujeres educados, cultos, sensibles, crean un mejor país.

        </p>
        <p class="gs">
            Estamos enamorados del Tenis y nos apasiona jugarlo, mirarlo y sobre todo <br />
            enseñarlo, pues a diario somos testigos de las increíbles cualidades con las<br />
            que este deporte contribuye a la formación humana.<br />
            Nuestro modelo de aprendizaje innovador y divertido, revoluciona la manera <br />
            de ver al tenis, pues dejamos la forma tradicional y mecanizada de practicarlo,<br /> 
            sustituyendo los drills infinitos que generan constantes lesiones por un sistema<br />
            que prioriza el cuidado del cuerpo y el disfrute del juego; elementos primordiales<br />
            en el trabajo con niños.<br />
            Contamos con un programa especializado e integral, conjuntando el desarrollo <br />
            físico con el carácter competitivo de nuestros jugadores. Nos fascina detectar<br />
            potenciales deportistas de alto rendimiento e impulsar su crecimiento tenístico. <br />
            A su vez, nuestra filosofía deportiva nos permite generar resultados inmediatos,<br />
            tanto en todo aquel que quiera aprender a jugar, como en aquellos tenistas que <br />
            busquen elevar su nivel de juego.

        </p>
        <p class="inh">
            <b>Inmense hotels</b> es una cadena de hoteles. Nuestro objetivo es crear experi- <br />
            encias memorables: Elegimos propiedades que sean únicas y mantenemos <br />
            su originalidad complementada con una decoración exquisita. <br />
            <br />
            Más que una estancia hotelera buscamos crear una experiencia única, que <br />
            involucre todos los sentidos de nuestros visitantes, desde el olor a madera o <br />
            playa de nuestros hoteles, hasta los platillos preparados por nuestros chefs, <br />
            pasando por un msaje ala luz de lasvelaso unacenaroánticaen medio <br />
            de la neblina. <br />
            <br />
            Creemosen lo local y por eso nuestroshotelestienen elementos únicos. <br />
            Nuestro manifiesto culinario usa los ingredientes locales y los mezcla de<br />
            maneras originales <br />
        <p class="vt">
            Vacations Times es un conjunto de empresas exitosas y competitivas, gracias<br />
            al trabajo, constancia y talento de su capital humano. Nuestro esfuerzo, dedicación<br />
            y compromiso con nuestros clientes nos han colocado a la vanguardia al lado de los mejores<br />
            corporativos internacionales.<br />
            Nuestro grupo engloba tanto a empresas con más de 15 años de experiencia como a start-ups,<br />
            todas ellas enfocadas a sobresalir en sus diferentes áreas. Vacations Times es un conjunto<br />
            de historias de éxito y de empresas construidas con verdaderos estándares de excelencia.

        </p>
        <p class="vtech">
            Vacations Technology es una empresa especializada en Clubes Vacacionales. Nos hacemos<br />
            cargo de gestionar todos los procesos administrativos relacionados con prospección y ventas,<br />
            así como reservaciones y atención a socios.<br />
            Somos especialistas en el diseño de campañas de fidelización para los clientes del club, <br />
            manejo de redes sociales, campañas de e-mailing y outbound calls. Estamos en constante <br />
            búsqueda de talento. Ponte en contacto con nosotros si quieres colaborar y vivir la <br />
            experiencia VT.

        </p>
        <p class="wp">
            WORLDPASS es una compañía que mejora la industria del Club Vacacional y complementa la<br />
forma de viajar de nuestros socios.<br />
            WORLDPASS no sólo es una plataforma que le permite el acceso a descuentos de hoteles, <br />
sino un servicio completo de Asesoría de Experiencia de Viajes.<br />
            Somos una empresa que se dedica totalmente a la industria del concepto Club Vacacional,<br />
 no sólo para asegurar la satisfacción del cliente, sino para promover y reforzar el uso de su Home<br />
 Resort, asegurando upgrades en las membresías y futuras recomendaciones.

        </p>

    </div>
    
</div>
<div class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <p>¿Deseas borrar el siguiente Archivo?</p>
        <ul class="cd-buttons">
            <li><a class="del" href="#0">Si</a></li>
            <li><a class="del" href="#0">No</a></li>
        </ul>
        <a href="#0" class="cd-popup-close img-replace">Cerrar</a>
    </div>
</div>

<div id="brand-deptos"></div>
<div id="contentFile">
    <table id="attachments">
        <tr>
            <th>File ID</th>
            <th>Nombre</th>
            <th>Empresa</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Eliminar</th>

            
            
        </tr>
        
    </table>
</div>

<script>
   
    let tmp = "@ViewBag.D";
    let deptos = JSON.parse(tmp.replace(/&quot;/g, '"'));
    let tagClabe = '';

    //show area or deptos in view
    showArea(deptos);
    tagClabe = getUrlParam();

    $('.attachment').attr('id', tagClabe);

    //show files attachment of brand
    getFilesAttch(tagClabe);

    function editAttachment(tagClabe, idAttachment) {
        console.log(tagClabe, idAttachment);
    }

    function deleteAttachment(idAttach, tagClabe, idDepto, fileName) {
        console.log('entra a eliminar');

        $.ajax({
            url: '/Home/DeleteAttach/',
            data: JSON.stringify({ "idAttach": idAttach, "tagClabe": tagClabe, "idDepto": idDepto, "fileName": fileName }),
            dataType: 'json',
            type: 'POST',
            contentType: 'application/json; charset=utf-8'
        })
        .done(function (value) {
            if (value === 'successfully') {
                alert("El Archivo se Borro Exitosamente.");
                location.reload();
            }
        });
    }

    function getFilesAttch(tagClabe) {
        
        //console.log(tagClabe);
        $.ajax({
            url: '/Home/GetFilesAttach/',
            data: { tagClabe: tagClabe },
            dataType: 'json',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            asyn: 'true',
            processData: 'false',
            cache: 'false',
            success: function (data) {

                let json = JSON.parse(data);
                console.log(json);
                let table = document.querySelector('#attachments');

                for (let i = 0; i < json.length; i++) {

                    let tr = document.createElement('TR');
                    let td_id = document.createElement('TD');
                    let td_file = document.createElement('TD');
                    let td_tag = document.createElement('TD');
                    let td_show = document.createElement('TD');
                    let td_edit = document.createElement('TD');
                    let td_del = document.createElement('TD');
                    let a_show = document.createElement('a');
                    let a_edit = document.createElement('a');
                    let a_del = document.createElement('a');
                    let span_edit = document.createElement('span');
                    let span_del = document.createElement('span');

                    //show file
                    a_show.innerHTML = '<i class="fas fa-eye" style="color:#000"></i>';
                    a_show.setAttribute('id', json[i]['IdAttachment']);
                    a_show.setAttribute('href', '/UploadedFiles/attachments/' + json[i]['AttachmentName']);
                    a_show.setAttribute('target', '_blank');
                    a_show.setAttribute('class', 'fileShow');
                    //edit file
                    a_edit.innerHTML = '<i class="fas fa-edit"></i>';
                    span_edit.textContent = json[i]['AttachmentName'];
                    span_edit.setAttribute('class', 'span_title');
                    span_edit.style.display = 'none';

                    a_edit.setAttribute('href', '');
                    a_edit.setAttribute('id', json[i]['IdAttachment']);
                    a_edit.setAttribute('class', 'fileEdit');
                    //delete file
                    a_del.innerHTML = '<i class="fas fa-trash-alt"></i>';
                    a_del.setAttribute('href', json[i]['IdAttachment']);
                    a_del.setAttribute('name', json[i]['AttachmentName']);
                    a_del.setAttribute('id', 'deleteFile');
                    a_del.setAttribute('class', json[i]['IdDepto']);
                    span_del.style.display = 'none';
                    span_del.textContent = json[i]['IdDepto'];
                    
                    td_id.innerHTML = json[i]['IdAttachment'];
                    td_file.innerHTML = json[i]['AttachmentName'];
                    td_tag.innerHTML = json[i]['TagName'];
                    td_show.appendChild(a_show);
                    td_edit.appendChild(a_edit);
                    td_edit.append(span_edit);
                    td_del.appendChild(a_del);
                    td_del.append(span_del);
                    
                    tr.append(td_id);
                    tr.append(td_file);
                    tr.append(td_tag);
                    tr.append(td_show);
                    tr.append(td_edit);
                    tr.append(td_del);

                    table.append(tr);

                }
            },
            error: function (e) {

            }
        });
    }

    function getUrlParam() {

        let url_string = window.location.href;
        let url = new URL(url_string);
        let tagClabe = url.searchParams.get('tag');
        //console.log(tagClabe);

        return tagClabe;
    }

    function showArea(deptos){
        for (let i = 0; i < deptos.length; i++) {

            let brandDeptos = document.querySelector('#brand-deptos');
            let deptoName = deptos[i].DeptoName;
            let div = document.createElement('DIV');
            div.setAttribute('class', 'area');
            div.append(deptoName);
            //console.log(div.innerHTML);
            brandDeptos.appendChild(div);
        }
    }

    function setEventClickDeptos() {

        let deptos = document.querySelectorAll('.area');
        console.log(deptos);
    }

    function setEventEditFile() {

        let files = document.querySelectorAll('.fileEdit');
        let span_title = document.querySelectorAll('.span_title');
        //console.log(files);

        for (let i = 0; i < files.length; i++) {
            $(files[i]).click(function (e) {
                e.preventDefault();
                
                //alert('click');
                let idAttachment = $(this).attr('id');
                //console.log('idFile: ' + idAttachment + ' tag: ' + tagClabe);

                document.querySelector('#titleModalManual').innerHTML = 'Editar Manual';
                $('#uploadFileModal').modal('show');
                let fileName = $(span_title[i]).html();
                
                //$('#FormControlTag option[value=' + tagClabe + ']').attr('selected', 'selected');
                
                document.querySelector('#titlePdf').setAttribute('value', fileName);
                document.querySelector('#FormControlTag').setAttribute('value', span_title[i]);
                populateListTag();

            });
        }
    }

    $(document).ready(function () {

        //set event click show file
        setEventEditFile();
        //set event click for deptos
        setEventClickDeptos();

        $('#deleteFile').click(function (e) {
            e.preventDefault();

            let idAttach = $(this).attr('href');
            let idDepto = $(this).attr('class');
            let fileName = $(this).attr('name');
            $('.cd-popup').addClass('is-visible');

            //close popup
            $('.cd-popup').on('click', function (event) {
                if ($(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup')) {
                    event.preventDefault();
                    $(this).removeClass('is-visible');
                }
            });

            //close popup when clicking the esc keyboard button
            $(document).keyup(function (event) {
                if (event.which == '27') {
                    $('.cd-popup').removeClass('is-visible');
                }
            });

            //
            $('.del').click(function (e) {
                e.preventDefault();
                let res = $(this)[0].textContent;
                if (res === "Si") {
                    //alert(idAttach + " " + tagClabe);
                    $('.cd-popup').removeClass('is-visible');
                    deleteAttachment(idAttach, tagClabe, idDepto, fileName);
                }
            });
        });

        



    });
    
</script>
