<style>
    
    .hidden, .logoschidos {display:none; cursor:pointer}
    .visible {display:grid}
    #padre-img img {
    max-width: 80%;
    cursor:pointer
}
    #padre-img>div {
    text-align: center;
}
.logoschidos {
    position: absolute;
    left: 200px;
    margin: 30px 0 0 30px !important;
    grid-template-columns: auto auto auto auto;
    width: 81%;
}
     .footer-padre {
    position: absolute;
    bottom: 0;
    right: 35%;
}
     .logoschidos p:nth-child(-n+4) {
    background: #21356a;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
        border-right: 3px solid #fff;
}
     .logoschidos p:not(:nth-child(-n+4)) {
    font-size: 15px;
    color: #000;
    padding: 10px 0;
    text-transform: uppercase !important;
    border: solid 1px #d0cfcf;
}
     .footer-padre {
    position: initial;
    padding-top: 30px;
}
     .logoschidos p:nth-child(4n+1):not(:first-child) {
    text-align: left;
}
</style>

<div id="padre-img" style="display:flex; align-items:center; justify-content:space-around;    margin: 30px 0;">


    <div id="">
        <img id="6img" src="/UploadedFiles/Logos/VTime.png" />
        <div class="logoschidos hidden">
            <p>Nombre</p>
            <p>Puesto</p>
            <p>Mail</p>
            <p>Skype</p>
            <p>Alain Correa</p><p>CEO</p><p>alaincorrea@gmail.com </p><p>alaincorreaflores</p>
            <p>Maru Moreno</p><p>CEO</p><p>marumoreno33@gmail.com </p><p>maru_moreno333</p>

        </div>
    </div>
    <div id="">
        <img id="5img" src="/UploadedFiles/Logos/VTechnology.png" />
        <div class="logoschidos hidden">
            <p>Nombre</p>
            <p>Puesto</p>
            <p>Mail</p>
            <p>Skype</p>
            <p>Asimov Martínez Saucedo</p><p>Development</p><p>crm.vtl@gmail.com</p><p>admin.vtl</p>
            <p>SALIM ISRAEL RAMIREZ HERNANDEZ</p><p>Development</p><p>desarrolladorweb.vtimes@gmail.com</p><p>desarrolladorweb.vtimes@gmail.com</p>
            <p>CRISTIAN SANCHEZ TRUJILLO</p><p>Development</p><p>desarrolladorweb2.vtimes@gmail.com</p><p>desarrolladorweb2.vtimes@gmail.com</p>


        </div>
    </div>
    <div id="">
        <img id="7img" src="/UploadedFiles/Logos/Worldpass.png" />
        <div class="logoschidos hidden">
            <p>Nombre</p>
            <p>Puesto</p>
            <p>Mail</p>
            <p>Skype</p>
            <p>David Pérez López </p><p>Estrategias</p><p>gerente.estrategia.vtimes@gmail.com</p><p>gerente.estrategia.vtimes@gmail.com</p>
            <p>Ruben Antonio Luna Miranda</p><p>Estrategias</p><p>analistasr.negocios.vt@gmail.com</p><p>analistasr.negocios.vt@gmail.com</p>
            <p>Jacqueline Diaz</p><p>Estrategias</p><p>procesos.ptc@gmail.com</p><p>procesos.ptc@gmail.com</p>
            <p>Joel Alberto Pérez Flores</p><p>Estrategias</p><p>gte.estrategias.zonab@gmail.com</p><p>gte.estrategias.zonab@gmail.com</p>

        </div>
    </div>
    <div id="">
        <img id="3img" src="/UploadedFiles/Logos/INMENSE_Club.png" />
        <div class="logoschidos hidden">
            <p>Nombre</p>
            <p>Puesto</p>
            <p>Mail</p>
            <p>Skype</p>
            <p>Andres Elias Quemada</p><p>Estrategias</p><p>gte.estrategias.zonac@gmail.com</p><p>gte.estrategias.zonac@gmail.com</p>
            <p>Jimena Martinez</p><p>Estrategias</p><p>gte.estrategias.zonaa@gmail.com</p><p>gte.estrategias.zonaa@gmail.com</p>
            <p>Elvia Cifuentes Pacheco</p><p>Estrategias</p><p>gte.estrategias.zonad@gmail.com</p><p>gte.estrategias.zonad@gmail.com</p>
            <p>Selene Isela Aquino Acopa</p><p>Estrategias</p><p>asistente.estrategias.vtimes@gmail.com</p><p>asistente.estrategias.vtimes@gmail.com</p>
            <p>Oscar Tonathiu Andrade Lemus</p><p>Estrategias</p><p>gte.estrategias.zonae@gmail.com</p><p>gte.estrategias.zonae@gmail.com</p>
            <p>Marco Avila</p><p>Estrategias</p><p>coord.proyectos.vtimes@gmail.com</p><p>coord.proyectos.vtimes@gmail.com</p>
            <p>Wendy Fabiola Ojeda Aldana</p><p>Estrategias</p><p>coord02.proyectos.vtimes@gmail.com</p><p>coord02.proyectos.vtimes@gmail.com</p>
            <p>Rafa Luna Miranda</p><p>Estrategias</p><p>gte.estrategias.zonaf@gmail.com</p><p>gte.estrategias.zonaf@gmail.com</p>

        </div>
    </div>
    <div id="">
        <img id="4img" src="/UploadedFiles/Logos/INMENSE_Hotels.png" />
        <div class="logoschidos hidden">
            <p>Nombre</p>
            <p>Puesto</p>
            <p>Mail</p>
            <p>Skype</p>
            <p>Homer Talpa</p><p>Branding</p><p>design.vtimes@gmail.com</p><p>design.vtimes@gmail.com</p>
            <p>Antonio Vazquez</p><p>Branding</p><p>community.vtimes@gmail.com</p><p>community.vtimes@gmail.com</p>
            <p>Tiago Trejo</p><p>Branding</p><p>design2.vtimes@gmail.com</p><p>design2.vtimes@gmail.com</p>
            <p>Santiago</p><p>Branding</p><p>redactorbranding@gmail.com</p><p>redactorbranding@gmail.com</p>
            <p>Braulio</p><p>Branding</p><p>gte.mkt.vtcorporativo@gmail.com</p><p>gte.mkt.vtcorporativo@gmail.com</p>
            <p>Chero Gómez</p><p>Branding</p><p>grandslam.puertoaventuras@gmail.com</p><p>grandslam.puertoaventuras@gmail.com</p>
            <p>Gizen</p><p>Branding</p><p>design3.vtimes@gmail.com</p><p>design3.vtimes@gmail.com</p>
            <p>Sam Acevedo</p><p>Branding</p><p>design4.vtimes@gmail.com</p><p>design4.vtimes@gmail.com</p>
            <p>Gibran</p><p>Branding</p><p>coord.mkt.vtimes@gmail.com</p><p>coord.mkt.vtimes@gmail.com</p>

        </div>
    </div>
</div>