<style>
    
    .hidden, .logoschidos {display:none; cursor:pointer}
    .visible {display:grid}
    #padre-img img {
    max-width: 80%;
    cursor:pointer
}
    #padre-img>div {
    text-align: center;
}
.logoschidos {
    position: absolute;
    left: 200px;
    margin: 30px 0 0 30px !important;
    grid-template-columns: auto auto auto auto;
    width: 81%;
}
     .footer-padre {
    position: absolute;
    bottom: 0;
    right: 35%;
}
     .logoschidos p:nth-child(-n+4) {
    background: #21356a;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
        border-right: 3px solid #fff;
}

</style>

<div  id="padre-img" style="display:flex; align-items:center; justify-content:space-around;    margin: 30px 0;">
        <div id="">
            <img src="/UploadedFiles/Logos/Axkan.png" />
            <div class="logoschidos hidden">
                <p>Nombre</p>
                <p>Puesto</p>
                <p>Mail</p>
                <p>Skype</p>
                <p>Saul</p>
                <p>Coordinador</p>
                <p>asdasdasd</p>
                <p>asdasdasd</p>
            </div>
        </div> 
        <div id="">
            <img id="2img" src="/UploadedFiles/Logos/Grand_Slam.png" />
            <div class="logoschidos hidden">
                <p>Nombre</p>
                <p>Puesto</p>
                <p>Mail</p>
                <p>Skype</p>

            </div>
        </div> 
        <div id="">
            <img id="3img" src="/UploadedFiles/Logos/INMENSE_Club.png" />
            <div class="logoschidos hidden">
                <p>Nombre</p>
                <p>Puesto</p>
                <p>Mail</p>
                <p>Skype</p>

            </div>
        </div> 
        <div id="">
            <img id="4img" src="/UploadedFiles/Logos/INMENSE_Hotels.png" />
            <div class="logoschidos hidden">
                <p>Nombre</p>
                <p>Puesto</p>
                <p>Mail</p>
                <p>Skype</p>

            </div>
        </div> 
        <div id="">
            <img id="5img" src="/UploadedFiles/Logos/VTechnology.png" />
            <div class="logoschidos hidden">
                <p>Nombre</p>
                <p>Puesto</p>
                <p>Mail</p>
                <p>Skype</p>

            </div>
        </div>   
        <div id="">
            <img id="6img" src="/UploadedFiles/Logos/VTime.png" />
            <div class="logoschidos hidden">
                <p>Nombre</p>
                <p>Puesto</p>
                <p>Mail</p>
                <p>Skype</p>

            </div>
        </div>   
        <div id="">
            <img id="7img" src="/UploadedFiles/Logos/Worldpass.png" />
            <div class="logoschidos hidden">
                <p>Nombre</p>
                <p>Puesto</p>
                <p>Mail</p>
                <p>Skype</p>

            </div>
        </div> 
        </div>