
@{
    ViewBag.Title = "NoAccess";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div style="padding-top:60px; text-align:center;">
            <h2>Restricted access.</h2>
            <h4>You are not allowed to view this module...</h4>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {

        setTimeout(myFunction, 3000);

        function myFunction() {
            window.location.reload();
            window.location.href = '/Home/Index';
        }
    });
    </script>
}
